<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
	<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.username">sa</property>
		<property name="hibernate.connection.password">123</property>
		<property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
		<property name="hibernate.connection.url">jdbc:sqlserver://localhost:1433;databaseName=hibernate1_6</property>
		<property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
		<!-- 辅助配制 -->
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		<mapping resource="com/wepull/pojo/Person.hbm.xml"/>
		<mapping resource="com/wepull/pojo/IdCard.hbm.xml"/>
	</session-factory>
</hibernate-configuration>